@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

:root {
  /* VARIABLES */
  
  /* Font Family */
  --ff-Beau-Rivage: "Beau Rivage";
  --ff-Inter: "Inter";

  /* Color */
  --orange-top: #f98f70;
  --orange-bottom: #ffd7cb;
  --blue-top: 
  --color-black: #000000;
  --color-white: #ffffff;

  --secondary-color: #ddffd9;

}

/* HEADER */

#header {
  display: flex;
}

/* HOMEPAGE */



/* QUESTIONNAIRE */



/* SYMPTOM */



/* RESOURCES */



/* CONTACT US */



/* FOOTER */



/* GLOBAL */

.breathe-logo {
  font-family: var(--ff-Beau-Rivage);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.secondary-color {
  color: var(--secondary-color);
}